There are often specific abilities, aptitudes and knowledge that are prerequisites to obtain employment in an occupation.

Most employers who advertise are looking for workers who have the following experience and skills: 

Experience: 
3-5 years

Specific Skills:
Write, modify, integrate and test software code. Identify and communicate technical problems, processes and solutions. Maintain existing computer programs by making modifications as required.

Computer and Technology Knowledge:
Windows, Flash, Adobe Photoshop, SQL and software development.